!agent/vendor/
!server/vendor/

src-openeuler/

# configuration files
config_server.yaml
config_agent.yaml

# binary files
build
toserver
toagent
test

# static files
server/handler/assets/
server/handler/index.html
web/node_modules
web/dist/
web/public/cluster.json
web/public/single.json
docs/time-series.json

go.work*