!agent/vendor/
!server/vendor/

src-openeuler/

# configuration files
topo_server.yaml
topo_agent.yaml

# binary files
run
build
toserver
toagent
test
PilotGo-plugin-topology-agent
PilotGo-plugin-topology-server

# static files
server/handler/assets/
server/handler/index.html
web/node_modules
web/dist/
web/src/assets/*.json
docs/time-series.json
*.jsonc
*.gz
*.rpm

go.work*